<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ScheduleJobDao">
<resultMap id="ScheduleJobDao" type="model.ScheduleJob" autoMapping="true">
    <result property="jobId" column="jobid"/>
    <result property="jobName" column="jobname"/>
    <result property="jobGroup" column="jobgroup"/>
    <result property="jobStatus" column="jobstatus"/>
    <result property="cronExpression" column="cronexpression"/>
    <result property="description" column="description"/>
    <result property="beanClass" column="beanclass"/>
    <result property="isConcurrent" column="isconcurrent"/>
    <result property="springId" column="springid"/>
    <result property="methodName" column="methodname"/>
    <result property="createTime" column="createtime"/>
    <result property="updateTime" column="updatetime"/>
</resultMap>

<select id="GetScheduleJob" parameterType="ScheduleJob" resultMap="ScheduleJobDao">
    SELECT * from ScheduleJob
</select>
</mapper>